.spinner {
	position: fixed;
	top: 40%;
  left: 47%;
	transform: translate(-50%, -50%);
  width: 4rem;
	height: 4rem;
  padding: 10px;
  border: 1px solid #eee;
	border-radius: 50%;
  box-shadow: 0 2px 2px #ccc;
  z-index: 200;
	background: linear-gradient(89deg, #e66465, #9198e5);
  text-align: center;
  box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner-rotor {
	animation: revolution 5s linear infinite;
}

.spinner img {
	width: 100%;
}

.spinner-text {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-right: 2px solid white;
	color: white;
	font-weight: bold;
	font-size: 2rem;
	z-index: 200;
	animation: typewriter 3s steps(12) .5s infinite alternate, blinkTextCursor 0.5s infinite;
	white-space: nowrap;
	overflow: hidden;
	backface-visibility: hidden;
}

@keyframes revolution {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
 }

 @keyframes typewriter {
	from {
		width: 0;
	}

	to {
		width: 210px;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: white;
	}

	to {
		border-right-color: transparent;
	}
}